@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: white; }

body {
  color: #302a00;
  font-size: 1.6rem;
  font-family: "Inter", serif;
  font-weight: 500;
  line-height: 1.7; }

.heading-primary {
  font-size: 7.6rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2rem; }

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 400; }

.heading-tertiary {
  font-size: 2.2rem;
  font-weight: 500; }

.paragraph {
  font-weight: 400; }

.center-element {
  max-width: 120rem !important;
  margin: 0 auto !important; }

.padding-verticaly-section {
  padding-top: 17rem !important;
  padding-bottom: 17rem !important; }

.margin-btm-small {
  margin-bottom: 2rem !important; }

.margin-btm-medium {
  margin-bottom: 4rem !important; }

.margin-btm-large {
  margin-bottom: 8rem !important; }

.margin-top-small {
  margin-top: 2rem !important; }

.margin-top-medium {
  margin-top: 4rem !important; }

.margin-top-large {
  margin-top: 8rem !important; }

.text-center {
  text-align: center !important; }

.btn:link, .btn:visited {
  display: inline-block;
  padding: 1rem 2rem;
  color: #322b00;
  background-color: white;
  border: none;
  border-radius: 7px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.8rem;
  box-shadow: 0 1rem 3rem rgba(39, 39, 39, 0.2);
  transition: all 0.3s;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 1rem 3rem rgba(39, 39, 39, 0.15); }

.btn:active {
  transform: translateY(0) scale(0.97);
  box-shadow: 0 1rem 3rem rgba(39, 39, 39, 0.3); }

.btn--see-all:link, .btn--see-all:visited {
  margin: 0 auto;
  background-color: #302a00;
  color: #fff; }

.intro {
  display: flex;
  justify-content: center;
  align-items: center; }
  .intro__left {
    width: 50%; }
  .intro__right {
    position: relative;
    width: 50%; }
  .intro__img {
    position: absolute;
    width: 50%;
    box-shadow: 0 1rem 3rem rgba(39, 39, 39, 0.25);
    border-radius: 7px; }
    .intro__img--1 {
      top: -15rem;
      left: 5rem; }
    .intro__img--2 {
      top: 0;
      right: 0; }

.services__content {
  display: flex;
  justify-content: center;
  gap: 4rem; }

.services__box {
  width: 27%;
  color: #272727;
  padding: 3rem;
  border-radius: 7px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-right: 5px solid #10ba82;
  box-shadow: 0 1rem 3rem rgba(39, 39, 39, 0.2);
  gap: 1.5rem; }

.services__icon {
  width: 5rem; }

.recomMenu {
  display: flex;
  flex-direction: column; }
  .recomMenu__content {
    display: flex;
    justify-content: center; }
  .recomMenu__box {
    width: 30%; }
  .recomMenu__img {
    width: 100%; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav__logo a {
    display: inline-block;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #322b00;
    transition: all 0.3s; }
  .nav__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem; }
  .nav__link:link, .nav__link:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #322b00;
    transition: all 0.3s; }
  .nav__link:hover {
    color: #10b981; }
  .nav__link:active {
    transform: scale(0.97); }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem; }
  .footer__logo a:link, .footer__logo a:visited {
    color: #fff;
    font-size: 4rem;
    font-weight: 200;
    text-transform: uppercase;
    text-decoration: none; }
  .footer__nav {
    display: block;
    width: 100%;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .footer__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem; }
  .footer__link:link, .footer__link:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.3s; }
  .footer__link:hover {
    color: #10b981; }
  .footer__link:active {
    transform: scale(0.97); }

.copyright {
  font-size: 1.4rem;
  font-weight: 200; }

.section-nav {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgba(40, 40, 40, 0.5); }

.section-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
  background: linear-gradient(rgba(40, 40, 40, 0.7), rgba(39, 39, 39, 0.7));
  height: 55rem; }

.hero__slogan {
  font-size: 2.4rem;
  font-weight: 150; }

.hero__background-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5000;
  object-fit: cover; }

.section-services {
  background-color: #302a00;
  color: white; }

.section-footer {
  background-color: #272727;
  color: #fff;
  padding-top: 7rem;
  padding-bottom: 7rem; }
