@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@keyframes transformToTop {
  from {
    opacity: 0;
    transform: translateY(4rem); }
  to {
    opacity: 1;
    transform: translateY(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 75em) {
    html {
      font-size: 57%; } }
  @media screen and (max-width: 56.25em) {
    html {
      font-size: 52%; } }
  @media screen and (max-width: 37.5em) {
    html {
      font-size: 47%; } }

body {
  box-sizing: border-box;
  background-color: white; }

body {
  color: #302a00;
  font-size: 1.6rem;
  font-family: "Inter", serif;
  font-weight: 500;
  line-height: 1.7; }

.heading-primary {
  font-size: 7.6rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2rem;
  line-height: 1.2;
  animation-name: transformToTop;
  animation-timing-function: ease-in;
  animation-duration: 0.4s; }
  @media screen and (max-width: 56.25em) {
    .heading-primary {
      font-size: 6.2rem; } }
  @media screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 5rem;
      margin-left: 3rem;
      margin-right: 3rem; } }

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.3; }
  @media screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3.4rem; } }
  @media screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 3.2rem; } }

.heading-tertiary {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.4; }

.paragraph {
  font-weight: 400; }

.center-element {
  max-width: 120rem !important;
  margin: 0 auto !important; }

.padding-verticaly-section {
  padding-top: 17rem !important;
  padding-bottom: 17rem !important; }
  @media screen and (max-width: 75em) {
    .padding-verticaly-section {
      padding-top: 14rem !important;
      padding-bottom: 14rem !important; } }
  @media screen and (max-width: 56.25em) {
    .padding-verticaly-section {
      padding-top: 11rem !important;
      padding-bottom: 11rem !important; } }
  @media screen and (max-width: 37.5em) {
    .padding-verticaly-section {
      padding-top: 8rem !important;
      padding-bottom: 8rem !important; } }

.padding-verticaly-section-bottom {
  padding-bottom: 17rem !important; }
  @media screen and (max-width: 75em) {
    .padding-verticaly-section-bottom {
      padding-bottom: 14rem !important; } }
  @media screen and (max-width: 56.25em) {
    .padding-verticaly-section-bottom {
      padding-bottom: 11rem !important; } }
  @media screen and (max-width: 37.5em) {
    .padding-verticaly-section-bottom {
      padding-bottom: 8rem !important; } }

.padding-verticaly-section-top {
  padding-top: 17rem !important; }
  @media screen and (max-width: 75em) {
    .padding-verticaly-section-top {
      padding-top: 14rem !important; } }
  @media screen and (max-width: 56.25em) {
    .padding-verticaly-section-top {
      padding-top: 11rem !important; } }
  @media screen and (max-width: 37.5em) {
    .padding-verticaly-section-top {
      padding-top: 8rem !important; } }

.margin-btm-small {
  margin-bottom: 2rem !important; }

.margin-btm-medium {
  margin-bottom: 4rem !important; }
  @media screen and (max-width: 56.25em) {
    .margin-btm-medium {
      margin-bottom: 2rem !important; } }

.margin-btm-large {
  margin-bottom: 8rem !important; }
  @media screen and (max-width: 56.25em) {
    .margin-btm-large {
      margin-bottom: 6rem !important; } }

.margin-top-small {
  margin-top: 2rem !important; }

.margin-top-medium {
  margin-top: 4rem !important; }

.margin-top-large {
  margin-top: 8rem !important; }

.text-center {
  text-align: center !important; }

.show-popup {
  opacity: 1 !important;
  visibility: visible !important; }

.show-content-popup {
  transform: scale(1) !important;
  opacity: 1 !important;
  visibility: visible !important; }

.show-noti {
  transform: translateY(0) !important;
  opacity: 1 !important;
  visibility: visible !important; }

.show-nav-res {
  transform: translateX(0) !important; }

.btn {
  padding: 1rem 2rem;
  color: #302a00;
  background-color: white;
  border: none;
  border-radius: 7px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.8rem;
  box-shadow: 0 1rem 3rem rgba(39, 39, 39, 0.2);
  transition: all 0.3s;
  cursor: pointer; }
  .btn:link, .btn:visited {
    display: inline-block;
    padding: 1rem 2rem;
    color: #302a00;
    background-color: white;
    border: none;
    border-radius: 7px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.8rem;
    box-shadow: 0 1rem 3rem rgba(39, 39, 39, 0.2);
    transition: all 0.3s;
    cursor: pointer; }
  .btn:hover {
    transform: translateY(-2px) scale(1.03);
    box-shadow: 0 1rem 3rem rgba(39, 39, 39, 0.15); }
  .btn:active {
    transform: translateY(0) scale(0.97);
    box-shadow: 0 1rem 3rem rgba(39, 39, 39, 0.3); }

.btn--see-all:link, .btn--see-all:visited {
  margin: 2rem auto 0 auto;
  background-color: #302a00;
  color: #fff; }

.btn--view {
  margin: 1rem auto 0 auto;
  position: absolute;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  bottom: 0;
  left: 0;
  width: 100%; }
  .btn--view:hover {
    transform: none;
    background-color: #10b981;
    color: #fff; }
  .btn--view:active {
    transform: none; }

.btn--close {
  position: absolute;
  top: -.5rem;
  right: .9rem;
  font-size: 2.5rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border: none;
  cursor: pointer; }
  .btn--close:hover {
    color: #fff; }
  .btn--close:active {
    transform: none; }

.btn--confirm {
  margin: auto 0 0 0;
  background-color: #272727;
  color: #fff; }

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem; }
  @media screen and (max-width: 56.25em) {
    .menu h2 {
      text-align: center; } }
  .menu__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 10rem; }
    @media screen and (max-width: 87.5em) {
      .menu__content {
        gap: 7rem; } }
    @media screen and (max-width: 75em) {
      .menu__content {
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem; } }
    @media screen and (max-width: 37.5em) {
      .menu__content {
        grid-template-columns: 1fr; } }
  .menu__box {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    position: relative;
    border-radius: 7px;
    box-shadow: 0 1rem 3rem rgba(39, 39, 39, 0.2);
    overflow: hidden;
    transition: all 0.3s;
    position: relative;
    cursor: pointer; }
    .menu__box:hover {
      transform: scale(1.025); }
  .menu__addit {
    position: absolute;
    width: 100%;
    right: 0rem;
    bottom: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: 350;
    background-color: rgba(39, 39, 39, 0.6);
    backdrop-filter: blur(3px);
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 1rem 3rem rgba(39, 39, 39, 0.3); }
  .menu__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -200;
    object-fit: cover; }
  .menu__detail {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(1rem);
    transition: all 0.3s;
    background-color: rgba(39, 39, 39, 0.6); }
    .menu__detail .paragraph {
      margin-bottom: 8rem; }
  .menu__price {
    position: absolute;
    top: 3rem;
    right: 3rem;
    font-size: 1.6rem;
    background-color: #10b981;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    text-transform: uppercase; }
  .menu__show-detail {
    transform: translateY(0);
    opacity: 1;
    visibility: visible; }

.intro {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 37.5em) {
    .intro {
      flex-direction: column; } }
  .intro__left {
    width: 50%; }
    @media screen and (max-width: 56.25em) {
      .intro__left {
        width: 100%; } }
  .intro__right {
    position: relative;
    width: 50%; }
    @media screen and (max-width: 56.25em) {
      .intro__right {
        width: 70%;
        display: flex;
        gap: 4rem; } }
    @media screen and (max-width: 37.5em) {
      .intro__right {
        display: none;
        margin-top: 4rem; } }
  .intro__img {
    position: absolute;
    width: 50%;
    box-shadow: 0 1rem 3rem rgba(39, 39, 39, 0.25);
    border-radius: 7px; }
    @media screen and (max-width: 56.25em) {
      .intro__img {
        width: 80%;
        margin: 0 auto;
        position: relative; } }
    @media screen and (max-width: 37.5em) {
      .intro__img {
        display: none; } }
    .intro__img--1 {
      top: -15rem;
      left: 5rem; }
      @media screen and (max-width: 56.25em) {
        .intro__img--1 {
          top: 0;
          left: 0; } }
    .intro__img--2 {
      top: 0;
      right: 0; }
      @media screen and (max-width: 56.25em) {
        .intro__img--2 {
          display: none; } }

.nav-res {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #272727;
  z-index: 1000000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: all 0.3s ease-in; }
  .nav-res__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none; }
  .nav-res__item {
    width: 100%;
    text-align: center; }
  .nav-res__link:link, .nav-res__link:visited {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 2rem 4rem;
    transition: all 0.3s;
    width: 100%; }
  .nav-res__link:hover {
    color: #10b981;
    transform: translateX(5px);
    background-color: #2f2f2f; }
  .nav-res__icon-menu {
    cursor: pointer;
    position: absolute;
    right: 3rem;
    top: 3rem;
    transition: all 0.3s; }
    .nav-res__icon-menu:hover {
      fill: #10b981; }

.noti {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  z-index: 500; }
  .noti__content {
    padding: 1.5rem 2rem;
    border-radius: 7px;
    border: 2px solid #10b981;
    color: #fff;
    font-weight: 300;
    background-color: #10b981;
    box-shadow: 0 1rem 4rem rgba(39, 39, 39, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(2rem);
    transition: all 0.3s; }

@media screen and (max-width: 87.5em) {
  .cart {
    margin: 0 3rem !important; } }

.cart__table-continer {
  overflow-x: auto; }

.cart__table {
  font-size: 1.8rem;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
  width: 100%; }

.cart__row:last-child .cart__data {
  border: none; }

.cart__heading {
  text-transform: uppercase;
  color: #fff;
  background-color: #272727;
  border: 2px solid #fff;
  border-radius: 7px;
  padding: 2rem 4rem; }
  @media screen and (max-width: 37.5em) {
    .cart__heading:first-child {
      display: none; } }
  @media screen and (max-width: 37.5em) {
    .cart__heading:nth-child(2) {
      display: none; } }
  @media screen and (max-width: 75em) {
    .cart__heading {
      font-size: 1.6rem;
      padding: 1.5rem 3rem; } }
  @media screen and (max-width: 56.25em) {
    .cart__heading {
      padding: 1rem 2rem; } }
  @media screen and (max-width: 37.5em) {
    .cart__heading {
      font-size: 1.4rem; } }

.cart__img {
  vertical-align: middle;
  border-radius: 7px;
  width: 100%;
  height: 10rem;
  object-fit: cover; }

.cart__data {
  border-bottom: 2px solid #272727;
  padding: 2rem 4rem; }
  @media screen and (max-width: 37.5em) {
    .cart__data:first-child {
      display: none; } }
  @media screen and (max-width: 37.5em) {
    .cart__data:nth-child(2) {
      display: none; } }
  @media screen and (max-width: 75em) {
    .cart__data {
      padding: 1.5rem 3rem; } }
  @media screen and (max-width: 56.25em) {
    .cart__data {
      font-size: 1.6rem;
      padding: 1rem 2rem; } }
  @media screen and (max-width: 37.5em) {
    .cart__data {
      font-size: 1.4rem; } }
  .cart__data svg {
    cursor: pointer;
    transition: all 0.3s; }
    .cart__data svg:hover {
      fill: #e10000; }
    @media screen and (max-width: 56.25em) {
      .cart__data svg {
        width: 26px;
        height: 26px; } }
    @media screen and (max-width: 37.5em) {
      .cart__data svg {
        width: 20px;
        height: 20px; } }

.cart__tfoot .cart__row .cart__heading {
  padding: 1rem 2rem;
  background-color: #272727;
  color: #fff;
  border: none;
  border-radius: 7px;
  text-align: left; }
  .cart__tfoot .cart__row .cart__heading-final {
    border-radius: 7px;
    border-left: 2px solid #fff;
    color: white;
    background-color: #10b981; }
    @media screen and (max-width: 56.25em) {
      .cart__tfoot .cart__row .cart__heading-final {
        padding: 1rem 0;
        font-size: 1.6rem; } }
    @media screen and (max-width: 37.5em) {
      .cart__tfoot .cart__row .cart__heading-final {
        font-size: 1.4rem; } }
  .cart__tfoot .cart__row .cart__heading-del {
    padding: 1rem 2rem;
    color: #fff;
    border: none;
    border-left: 2px solid #fff;
    background-color: #fa0000;
    border-radius: 7px;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer; }
    .cart__tfoot .cart__row .cart__heading-del:hover {
      background-color: #e10000; }
    @media screen and (max-width: 56.25em) {
      .cart__tfoot .cart__row .cart__heading-del {
        padding: 1rem 0;
        font-size: 1.6rem; } }
    @media screen and (max-width: 37.5em) {
      .cart__tfoot .cart__row .cart__heading-del {
        font-size: 1.4rem; } }
  .cart__tfoot .cart__row .cart__heading-empty {
    background-color: #272727;
    color: #fff;
    border-radius: 7px;
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: left;
    padding: 1rem 2rem; }

.popup-add-cart {
  position: fixed;
  background-color: rgba(39, 39, 39, 0.3);
  backdrop-filter: blur(3px);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden; }
  .popup-add-cart__content {
    position: relative;
    max-width: 60rem;
    height: 35rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border-radius: 7px;
    background-color: #fff;
    transform: scale(0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s; }
    @media screen and (max-width: 37.5em) {
      .popup-add-cart__content {
        margin: 0 3rem;
        height: auto;
        max-width: none; } }
  .popup-add-cart__header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem; }
    @media screen and (max-width: 37.5em) {
      .popup-add-cart__header {
        flex-direction: column;
        align-items: center; } }
  .popup-add-cart__box-img {
    width: 50%; }
    @media screen and (max-width: 37.5em) {
      .popup-add-cart__box-img {
        width: 100%;
        height: 25rem; } }
  .popup-add-cart__img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    object-fit: cover; }
  .popup-add-cart__detail {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem; }
    @media screen and (max-width: 37.5em) {
      .popup-add-cart__detail {
        width: 100%; } }
  .popup-add-cart__price {
    margin-right: auto;
    font-size: 1.6rem;
    color: #fff;
    background-color: #10b981;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 0 auto; }
  .popup-add-cart__body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; }
  .popup-add-cart__amount {
    width: 50%;
    font-size: 1.6rem;
    text-align: center;
    color: #272727;
    padding: 1rem;
    border: 2px solid #272727;
    border-radius: 7px;
    transition: all 0.3s; }
    .popup-add-cart__amount:focus {
      outline: none;
      border: 2px solid #10b981; }

.btn--close-pop {
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  font-size: 1.8rem;
  background-color: #fff;
  color: #272727;
  padding: 0.4rem 1.4rem;
  border-radius: 50%;
  border: 2px solid #272727;
  cursor: pointer;
  transition: all 0.3s; }
  .btn--close-pop:hover {
    background-color: #272727;
    color: #fff; }

.del-popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(39, 39, 39, 0.3);
  z-index: 1000;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden; }
  .del-popup .del {
    position: relative;
    background-color: #fff;
    padding: 4rem;
    width: 40rem;
    border-radius: 7px;
    box-shadow: 0 1rem 3rem rgba(39, 39, 39, 0.2);
    transform: scale(0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s; }
    @media screen and (max-width: 37.5em) {
      .del-popup .del {
        width: 35rem; } }
    .del-popup .del__btns {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem; }

.btn--yes {
  color: white;
  background-color: #14e8a2;
  width: 100%; }

.btn--no {
  color: white;
  background-color: #fa0000;
  width: 100%; }

.services__content {
  display: flex;
  justify-content: center;
  gap: 4rem; }
  @media screen and (max-width: 56.25em) {
    .services__content {
      flex-direction: column;
      align-items: center;
      gap: 5rem; } }
  @media screen and (max-width: 37.5em) {
    .services__content {
      margin: 0 3rem; } }

.services__box {
  width: 27%;
  color: #272727;
  padding: 3rem;
  border-radius: 7px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-right: 7px solid #14e8a2;
  box-shadow: 0 1rem 3rem rgba(39, 39, 39, 0.2);
  gap: 1.5rem; }
  @media screen and (max-width: 56.25em) {
    .services__box {
      width: 50%; } }
  @media screen and (max-width: 37.5em) {
    .services__box {
      width: 100%; } }

.services__icon {
  width: 5rem; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav__logo a {
    display: inline-block;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #302a00;
    transition: all 0.3s; }
  .nav__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem; }
  .nav__item {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media screen and (max-width: 75em) {
      .nav__item:not(:last-child) {
        display: none;
        opacity: 0;
        visibility: hidden; } }
    .nav__item:last-child {
      display: none;
      visibility: hidden;
      opacity: 0; }
      @media screen and (max-width: 75em) {
        .nav__item:last-child {
          display: block;
          visibility: visible;
          opacity: 1; } }
      .nav__item:last-child svg {
        cursor: pointer;
        transition: all 0.3s; }
        .nav__item:last-child svg:hover {
          fill: #10b981; }
  .nav__link:link, .nav__link:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #302a00;
    transition: all 0.3s; }
  .nav__link:hover {
    color: #10b981; }
  .nav__link:active {
    transform: scale(0.97); }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem; }
  .footer__logo a:link, .footer__logo a:visited {
    color: #fff;
    font-size: 4rem;
    font-weight: 200;
    text-transform: uppercase;
    text-decoration: none; }
  .footer__nav {
    display: block;
    width: 100%;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .footer__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem; }
  .footer__link:link, .footer__link:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.3s; }
  .footer__link:hover {
    color: #10b981; }
  .footer__link:active {
    transform: scale(0.97); }

.copyright {
  font-size: 1.4rem;
  font-weight: 200; }

.section-nav {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgba(39, 39, 39, 0.5); }
  @media screen and (max-width: 87.5em) {
    .section-nav {
      padding-left: 3rem;
      padding-right: 3rem; } }

.section-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
  background: linear-gradient(rgba(39, 39, 39, 0.7), rgba(39, 39, 39, 0.7));
  height: 55rem; }

.hero__slogan {
  font-size: 2.4rem;
  font-weight: 150;
  animation-name: transformToTop;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
  animation-delay: 0.25s;
  animation-fill-mode: backwards; }
  @media screen and (max-width: 56.25em) {
    .hero__slogan {
      font-size: 2.2rem; } }
  @media screen and (max-width: 37.5em) {
    .hero__slogan {
      font-size: 2rem; } }

.hero__background-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5000;
  object-fit: cover; }

.hero .btn {
  animation-name: transformToTop;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards; }

@media screen and (max-width: 87.5em) {
  .section-intro {
    margin: 0 3rem; } }

.section-services {
  background-color: #302a00;
  color: white; }

@media screen and (max-width: 87.5em) {
  .section-menu {
    margin: 0 3rem; } }

.section-footer {
  background-color: #272727;
  color: #fff;
  padding-top: 7rem;
  padding-bottom: 7rem; }

@media screen and (max-width: 87.5em) {
  .section-coffee {
    margin: 0 3rem; } }

@media screen and (max-width: 87.5em) {
  .section-tea {
    margin: 0 3rem; } }

@media screen and (max-width: 87.5em) {
  .section-dessert {
    margin: 0 3rem; } }

.section-cart {
  min-height: 100vh; }
