.section-nav {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgba($color-black-light, 0.5);
}

.section-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-white-light;
  text-align: center;
  position: relative;
  background: linear-gradient(
    rgba($color-black-light, 0.7),
    rgba($color-black-dark, 0.7)
  );
  height: 55rem;
}

.hero {
  &__slogan {
    font-size: 2.4rem;
    font-weight: 150;
    animation-name: transformToTop;
    animation-timing-function: ease-in;
    animation-duration: 0.4s;
    animation-delay: 0.25s;
    animation-fill-mode: backwards;
    @include responsive(tap-port) {
      font-size: 2.2rem;
    }

    @include responsive(phone) {
      font-size: 2rem;
    }
  }

  &__background-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5000;
    object-fit: cover;
  }
  .btn {
    animation-name: transformToTop;
    animation-timing-function: ease-in;
    animation-duration: 0.4s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
  }
}

.section-intro {
  @include responsive(normal) {
    margin: 0 3rem;
  }
}

.section-services {
  background-color: $color-brown-dark;
  color: $color-white-light;
}

.section-menu {
  @include responsive(normal) {
    margin: 0 3rem;
  }
}

.section-footer {
  background-color: $color-black-dark;
  color: $color-white-dark;
  padding-top: 7rem;
  padding-bottom: 7rem;
}
