.btn {
  padding: 1rem 2rem;
  color: $color-brown-light;
  background-color: $color-white-light;
  border: none;
  border-radius: 7px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.8rem;
  box-shadow: 0 1rem 3rem rgba($color-black-dark, 0.2);
  transition: all 0.3s;
  cursor: pointer;
  &:link,
  &:visited {
    display: inline-block;
    padding: 1rem 2rem;
    color: $color-brown-light;
    background-color: $color-white-light;
    border: none;
    border-radius: 7px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.8rem;
    box-shadow: 0 1rem 3rem rgba($color-black-dark, 0.2);
    transition: all 0.3s;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-2px) scale(1.03);
    box-shadow: 0 1rem 3rem rgba($color-black-dark, 0.15);
  }

  &:active {
    transform: translateY(0) scale(0.97);
    box-shadow: 0 1rem 3rem rgba($color-black-dark, 0.3);
  }
}

.btn--see-all {
  &:link,
  &:visited {
    margin: 2rem auto 0 auto;
    background-color: $color-brown-dark;
    color: $color-white-dark;
  }
}

.btn--view {
  margin: 1rem auto 0 auto;
  position: absolute;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  bottom: 0;
  left: 0;
  width: 100%;

  &:hover {
    transform: none;
    background-color: $color-green-dark;
    color: $color-white-dark;
  }

  &:active {
    transform: none;
  }
}

.btn--close {
  position: absolute;
  top: -.5rem;
  right: .9rem;
  font-size: 2.5rem;
  font-weight: 200;
  color: rgba($color-white-dark, 0.7);
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    color: $color-white-dark;
  }

  &:active {
    transform: none;
  }
}

.btn--confirm {
  margin: auto 0 0 0;
  background-color: $color-black-dark;
  color: $color-white-dark;
}
