.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  h2 {
    @include responsive(tap-port) {
      text-align: center;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 10rem;
    @include responsive(normal) {
      gap: 7rem;
    }

    @include responsive(tap-land) {
      grid-template-columns: repeat(2, 1fr);
      gap: 5rem;
    }

    @include responsive(phone) {
      grid-template-columns: 1fr;
    }
  }

  &__box {
    color: $color-white-light;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    position: relative;
    border-radius: 7px;
    box-shadow: 0 1rem 3rem rgba($color-black-dark, 0.2);
    overflow: hidden;
    transition: all 0.3s;
    position: relative;
    &-img {
    }
  }

  &__addit {
    position: absolute;
    bottom: 5.5rem;
    right: 1.5rem;
    font-size: 2rem;
    font-weight: 350;
    background-color: rgba($color-black-dark, 0.6);
    backdrop-filter: blur(3px);
    color: $color-white-dark;
    padding: 0.5rem 1.5rem;
    border-radius: 7px;
    border: 1px solid rgba($color-white-dark, 0.3);
    box-shadow: 0 1rem 3rem rgba($color-black-dark, 0.3);
    // clip-path: polygon(7% 0, 100% 0, 93% 100%, 0 100%);
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -200;
    object-fit: cover;
  }

  &__detail {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(1rem);
    transition: all 0.3s;
    background-color: rgba($color-black-dark, 0.6);
    .paragraph {
      margin-bottom: 8rem;
    }
  }

  &__price {
    position: absolute;
    top: 3rem;
    right: 3rem;
    font-size: 1.6rem;
    background-color: $color-green-dark;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    text-transform: uppercase;
  }

  &__show-detail {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

}

.btn--buy {
  margin-top: auto;
  margin-bottom: 0;
}
