.popup-add-cart {
  position: fixed;
  background-color: rgba($color-black-dark, 0.3);
  backdrop-filter: blur(3px);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  &__content {
    position: relative;
    max-width: 60rem;
    height: 35rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border-radius: 7px;
    background-color: $color-white-dark;
    transform: scale(0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    @include responsive(phone) {
      margin: 0 3rem;
      height: auto;
      max-width: none;
    }
  }

  &__header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    // align-items: center;
    @include responsive(phone) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__box-img {
    width: 50%;
    @include responsive(phone) {
      width: 100%;
      height: 25rem;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    object-fit: cover;
  }

  &__detail {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include responsive(phone) {
      width: 100%;
    }
  }

  &__price {
    margin-right: auto;
    font-size: 1.6rem;
    color: $color-white-dark;
    background-color: $color-green-dark;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 0 auto;
  }
  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  &__amount {
    width: 50%;
    font-size: 1.6rem;
    text-align: center;
    color: $color-black-dark;
    padding: 1rem;
    // border: none;
    border: 2px solid $color-black-dark;
    border-radius: 7px;
    transition: all 0.3s;
    &:focus {
      outline: none;
      border: 2px solid $color-green-dark;
    }
  }
}

.btn--close-pop {
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  font-size: 1.8rem;
  background-color: $color-white-dark;
  color: $color-black-dark;
  padding: 0.4rem 1.4rem;
  border-radius: 50%;
  border: 2px solid $color-black-dark;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: $color-black-dark;
    color: $color-white-dark;
  }
}
