body {
  color: $color-brown-dark;
  font-size: 1.6rem;
  font-family: "Inter", serif;
  font-weight: 500;
  line-height: 1.7;
}

.heading-primary {
  font-size: 7.6rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2rem;
  line-height: 1.2;
  animation-name: transformToTop;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
  @include responsive(tap-port) {
    font-size: 6.2rem;
  }

  @include responsive(phone) {
    font-size: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.3;
  @include responsive(tap-port) {
    font-size: 3.4rem;
  }

  @include responsive(phone) {
    font-size: 3.2rem;
  }
}

.heading-tertiary {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.4;
}

.paragraph {
  font-weight: 400;
}
