// Color
$color-brown-dark: #302a00;
$color-brown-light: lighten(#302a00, 0);

$color-black-dark: #272727;
$color-black-light: lighten(#272727, 0);

$color-white-dark: #fff;
$color-white-light: lighten(#fff, 5%);

$color-green-dark: #10b981;
$color-green-light: lighten(#10b981, 10%);
